body{
    user-select: none;
    font-family: AnjaliOldLipi, serif;
    padding: 0;
    margin: 0;
}

img {
    -webkit-user-drag: none;
}

.link{
    text-decoration-line: none;
    color: #1082a6;
}

.MuiCard-root{
    border: 1px solid #eaeaea;
}

.welcome-page-error-message{
    color: #b62525;
    text-align: center;
}

.center{
    text-align: center;
}

.custom-link{
    color: #4545c7;
    cursor: pointer;
}

.title-image{
    cursor: pointer;
}